//META{"name":"Spicetify Gruvbox","description":"Lookalike of the Spicetify theme Dribbblish, with base Gruvbox","author":"Robzyy","version":"0.0.6"}*//{}

.theme-dark{
    --background-tertiary: #689D6A;
    --background-secondary: #292828;
    --background-primary: #292828;
    --background-secondary-alt:  #212121;

    --header-primary: #C1AF97;
    --header-secondary: #C1AF97;
    --text-muted: #C1AF97;
    --channels-default: #A89984;
    --interactive-normal: #EBDBB2;
    --interactive-active: #EBDBB2;
    --interactive-muted: #74695B;

    --chat-box: #353434;
    --darker-gruv: #212121;
}

.chat-3bRxxu, .threadSidebar-1o3BTy, .sidebar-2K8pFh {
/* possibly remove the last one, also remove the comma in this case */
    height: 100%;
}

.base-3dtUhz{
    bottom: 20px;
    border-radius: 15px;
    right: 20px;
}

/* .platform-win .sidebar-2K8pFh {
    border-radius: 15px 0 0 15px;
} */

.da-winButton {
    color: #36393F;
    width: 46px;
}
.da-wordmarkWindows{
    display: none;
}
.searchBar-3dMhjb {
    background-color:var(--chat-box);
 }

 /* Remove help button */
a[href="https://support.discord.com"] {
    display: none;
}

/* New Message top bar */
.newMessagesBar-265mhP{
    background-color: var(--background-tertiary);
}

/* Fix code boder being green  */
.markup-2BOw-j code, .cardPrimary-1Hv-to{
    border: 1px solid #31343A;
}

/* Server Folders */
.expandedFolderBackground-2sPsd-, .folder-21wGz3{
    background-color: #568258;
}
.folder-21wGz3:hover{
    background-color: #486E4A;
}

.panels-j1Uci_{
    background-color: var(--background-primary);
}
.scrollableContainer-2NUZem{
    background-color: var(--chat-box);
}

.item-2hkk8m {
    background-color: var(--background-primary);
}

.peopleColumn-29fq28{
    background-color: var(--background-primary);
}

.theme-dark .autocomplete-1vrmpx{
    background-color: var(--background-primary);
}
.theme-dark .selected-1Tbx07{
    background-color: var(--chat-box);
}
.barFill-23-gu-{
    background-color: var(--background-tertiary);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
    background-color:  #74af76;
}

.guilds-1SWlCJ{
    position: fixed;
    top: 0px;
}

/************************************************ 
 *                                             *
 *                                             *
 *                                             *
 *   THINGS THAT SHOULDN'T BE GREEN BUT ARE    *
 *                                             *
 *                                             *
 *                                             *
 ***********************************************/
/* Emoji selector */
.container-2XeR5Z{
    background-color: var(--chat-box);
}
.wrapper-2Gsate{
    background-color: var(--background-primary);
}
/* Gif selector search box */
.container-cMG81i{
    background-color: var(--chat-box);
}

/* Friend search box */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    background-color: var(--chat-box);
}

/* Game activity for friends */
.wrapper-3D2qGf{
    background-color: var(--darker-gruv);
}

/* Inbox tutorial */
.tutorial-3w5I9h{
    background-color: var(--background-primary);
}
.lookFilled-1Gx00P.colorBrand-3pXr91{
    background-color: var(--darker-gruv);
}
.item-26Dhrx[aria-checked=true]{
    background-color: var(--darker-gruv);
}
.cardWrapper-2Min21{
    background-color: var(--darker-gruv);
}

/************************************************ 
 *                                             *
 *                                             *
 *                                             *
 *  THINGS THAT SHOULD BE DARKER GRUV COLORS   *
 *                                             *
 *                                             *
 *                                             *
 ***********************************************/

 .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
     background-color: var(--darker-gruv);
 }
 .theme-dark .headerNormal-T_seeN{
    background-color: var(--darker-gruv);
 }
 .emojiSection-3Fb9ix{
    background-color: var(--darker-gruv);
 }
 .wrapper-39oAo3{
    background-color: var(--darker-gruv);
 }
 .button-F9qN4n{
    background-color: var(--darker-gruv);
 }
 .theme-dark .root-1gCeng{
    background-color: var(--darker-gruv);
 }
 /* Fix for folder settings - has no padding / margin */
 .colorPickerRow-1LgLnl:nth-child(odd){
     margin-top: 10px;
 }
 .topSectionNormal-2-vo2m{
    background-color: var(--darker-gruv);
 }
